/ Hero
.row.hero.hero--home
  .container
    .hero__header
      p.hero__call Não se trata apenas do software

      h2.hero__title Wmitrut: Front-end

    .hero__footer
      h2.second_hero__subtitle Aliando design e tecnologia para criar expeciências únicas


/First

.row.first.first--home
  .first__header
    h1.first__title  Do conceito ao código
    h2.first__subtitle  Usamos tecnologias de ponta para construir produtos que tragam ótimas experiências.





/ Second
.row.second.second--home
    .container
      .second__header
        h1.second__title  Clientes
        h2.second__subtitle  Empreendedores que trabalhamos em conjunto para criar serviços de impacto direto vida das pessoas.

        nav.clients
          ul#client.list.client--nav
            li.list__item = link_to image_tag('clients/inventto.png'),'http://invent.to',:target => '_blank', class:'list__client'
            li.list__item = link_to image_tag('clients/tambo.png'),'http://emporiotambo.com.br', :target => '_blank', class:'list__client'
            li.list__item = link_to image_tag('clients/oldcase.png'),'#',:target => '_blank', class:'list__link'
            li.list__item = link_to image_tag('clients/lab85.svg'),'http://lab85.com.br',:target => '_blank', class:'list__link'
            li.list__item = link_to image_tag('clients/academias.png'),'http://academi.as',:target => '_blank', class:'list__link'
            li.list__item = link_to image_tag('clients/appipoka.png'),'http://appipoka.com.br',:target => '_blank', class:'list__link'


/Contact
.row.contact.contact--home
    .container
      .contact__header
        h1.contact__title  Entre em contato
        h2.contact__subtitle  Odd Future tousled Kickstarter whatever High Life wayfarers.

      .media__contact
          .facebook__body
            .fb-like-box data-colorscheme="light" data-header="true" data-href="https://www.facebook.com/lab85" data-show-border="true" data-show-faces="true" data-stream="false"

          .contact__body
            form.form accept-charset="UTF-8" action="https://api.sendgrid.com/api/mail.send.json" method="post" enctype="text/plain"
              input name="redirect_to" type="hidden" value="http://lab85.com.br/"
              fieldset.fieldset
                .form__row
                  .form__field
                    input.form__input type='Name' placeholder='Nome'
                .form__row
                  .form__field
                    input.form__input type='email' placeholder='Email'
                .form__row
                  .form__field
                    textarea.form__input type='message' placeholder='Mensagem'
                .form__row
                  button.btn--send type='submit' Enviar





    .list.list--contact
      .list__item.list__item--address
        address.address
      .list__item.list__item--email

        = link_to 'mitrut@invent.to', 'mailto:mitrut@invent.to'

      .list__item.list__item--phone
        = link_to '+55 46 3057-2020  ', 'tel: +55 46 3057-2020'
