.second
  +clearfix

.second--home
  text-align: center
  text-shadow: 0 1px 0 rgba(#000, .15)
  background: linear-gradient(rgba(#333E44, .8),rgba(#333E44, .8)), image-url('traffic.jpg')
  background-position: 30% 40%
  background-repeat: no-repeat
  background-size: cover
  padding-top: 90px
  padding-bottom: 70px


  .second__title,
  .second__subtitle
    color: #FFF
    margin: 0
    padding: 0

  .second__title
    +inuit-font-size(42px, 1)
    text-transform: uppercase
    padding-bottom: 20px
    +font-weight("bold")
    letter-spacing: 5px

  .second__subtitle
    +inuit-font-size(24px, 1)
    +font-weight(light)
    padding-bottom: 52px

  .second__footer
    padding-top: 50px

  .gym img
    width: 50%


  .layout__item p
    display: inline-block
    width: 25%
    vertical-align: top

.second__paragraph
  padding-top: 50px
